@{
    ViewData["Title"] = "Справочник";
}

<div class="text-center">
    <h1 class="display-4">Справочник</h1>
    <p>Справочник состоит из 3 основных страниц</p>    
    <ul>
        <li>Главная страница</li>
        <li>Общедоступная страница со список</li>
        <li>Страница со списком, достпуная администратору</li>
    </ul>
    <p>Для доступа к администратовной панели, нужно изменить условие в файлах <b>Views/_ViewStart.cshtml</b> и <b>Controllers/ContactController.cs</b> </p>
</div>
